<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fastcam.boardserver.mapper.UserProfileMapper">

    <select id="getUserProfile" parameterType="String" resultType="com.fastcam.boardserver.dto.UserDTO">
        SELECT userId, password, nickName, createTime, isWithDraw, status
        FROM user
        WHERE userId = #{id}

    </select>

    <insert id="insertUserProfile" parameterType="com.fastcam.boardserver.dto.UserDTO">
        INSERT INTO user(userId, password, nickName, isWithDraw, status, idAdmin)
        VALUES(#{userId}, #{password}, #{nickName}, #{isWithDraw}, #{status}, #{isAdmin});
    </insert>

    <update id="updateUserProfile" parameterType="com.fastcam.boardserver.dto.UserDTO">
        UPDATE user
        SET password = #{password},
            nickName = #{nickName},
            isWithDraw = #{isWithDraw},
            status = #{status}
        WHERE id = #{id}
    </update>

    <delete id="deleteUserProfile">
        DELETE FROM user
        WHERE userId = #{id}
    </delete>

    <select id="findByIdAndPassword" resultType="com.fastcam.boardserver.dto.UserDTO">
        SELECT userId, password, nickName, createTime, isWithDraw, status
        FROM user
        WHERE userId = #{id}
            AND password = #{password}
            AND status != 'DELETE'
    </select>

    <select id="idCheck" resultType="int">
        SELECT COUNT(id)
        FROM user
        WHERE userId = #{userId}
    </select>

    <update id="updatePassword" parameterType="com.fastcam.boardserver.dto.UserDTO">
        UPDATE user
        SET password = #{password}
        WHERE userId = #{userId}
    </update>

    <insert id="register" parameterType="com.fastcam.boardserver.dto.UserDTO">
        INSERT INTO user(userId, password, nickName, isWithDraw, status, isAdmin)
        VALUES(#{userId}, #{password}, #{nickName}, #{isWithDraw}, #{status}, #{isAdmin});
    </insert>
</mapper>